// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
.icon-box {
  width: 8em;
  height: 8em;
  margin: auto;
  display: flex;
  align-items: center;
  img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}
